@charset "UTF-8";
/* CSS Document */
/*SNS BRAND LODO WEBFONT */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Heavy.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Heavy.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Heavy.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Heavy.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Heavy.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/dekoon/fonts/SCoreDream-Black.ttf') format("truetype");
    font-display: swap;
}
