/* 
NanumSquareNeo.css
*/



@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-aLt.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-bRg.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-cBd.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-dEb.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-eHv.eot');
    src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/dekoon/fonts/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 
