/* 
SebangGothic.css
*/

@font-face {
    font-family: 'Sebang';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/dekoon/fonts/SebangGothicRegular.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/dekoon/fonts/SebangGothicRegular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Sebang';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/dekoon/fonts/SebangGothicBold.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/dekoon/fonts/SebangGothicBold.woff) format('woff');
    font-display: swap;
}