@charset "UTF-8";
/* CSS Document */
/*
https://dekoon.github.io/fonts/GangwonEducationSaeum/GangwonEducationSaeum.css
*/

@font-face {
  font-family: 'GangwonEducationSaeum';
  font-weight: 400; /* 기본 weight */
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/GangwonEducationSaeum/GangwonEducationSaeum.woff2') format('woff2');
  font-display: swap;
}
