@charset "UTF-8";
/* CSS Document */
/*
https://dekoon.github.io/fonts/MaruBuri/MaruBuri.css
*/

@font-face {
  font-family: 'MaruBuri';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/MaruBuri/MaruBuri-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/MaruBuri/MaruBuri-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/MaruBuri/MaruBuri-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/MaruBuri/MaruBuri-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/dekoon/fonts/MaruBuri/MaruBuri-Bold.woff2') format('woff2');
  font-display: swap;
}
